.container {
  text-align: center;
}

.header {
  line-height: 3rem;
  background-color: #52b68d;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.content {
  padding: 2rem;
  margin: 0 auto 3rem;
  max-width: 500px;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #52b68d;
  color: #ffffff;
  padding: 0.25rem 0;
}

.nav a {
  color: #ffffff;
  padding: 0.25rem 0;
  display: block;
}

.nav_ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
