.container {
  text-align: center;
}

.header {
  line-height: 3rem;
  background-color: #52b68d;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.content {
  margin: 2rem;
  margin: 0 auto;
  max-width: 500px;
}
